{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pods</title>
    <script src="{% static 'js/pod_filter.js' %}" defer></script>
</head>
<body>
    <h1>Pods</h1>
    <h1>Filters:</h1>
    <label for="product_type">Product Type:</label>

    <select name="product_type" id="product_type">
        <option value="---">----</option>
        <option value="large_pod">Large Pod</option>
        <option value="small_pod">Small Pod</option>
        <option value="espresso">Espresso</option>
    </select>

    <label for="flavor">Flavor</label>
    <select name="flavor" id="flavor">
        <option value="---">---</option>
        <option value="vanilla">Vanilla</option>
        <option value="caramel">Caramel</option>
        <option value="psl">PSL</option>
        <option value="mocha">Mocha</option>
        <option value="hazelnut">Hazelnut</option>
    </select>

    <label for="pack_size">Pack size</label>
    <select name="pack_size" id="pack_size">
        <option value="---">----</option>
        <option value="1_dozen">1 dozen</option>
        <option value="3_dozen">3 dozen</option>
        <option value="5_dozen">5 dozen</option>
        <option value="7_dozen">7 dozen</option>
    </select>



    <input type="submit" value="Apply filters" id='apply_filters'>
    <div id='json_data'>
    
    </div>
    
</body>
</html>